<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProperty scope="context" name="FILE_LOCATION" source="logging.file.path" />
	<property name="LOG_FILE_INFO" value="person_info" />
	<property name="LOG_FILE_DEBUG" value="person_debug" />
	<property name="LOG_FILE_ERROR" value="person_error" />

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${FILE_LOCATION}/${LOG_FILE_INFO}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${FILE_LOCATION}/archived/${LOG_FILE_INFO}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>120</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} [%thread{56}] %-5level	%-36logger{36} -%M - %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="RollingFileDebug"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${FILE_LOCATION}/${LOG_FILE_DEBUG}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${FILE_LOCATION}/archived/${LOG_FILE_DEBUG}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>120</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} [%thread{56}] %-5level	%-36logger{36} -%M - %m%n</pattern>
		</encoder>
	</appender>


	<appender name="FileError"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${FILE_LOCATION}/${LOG_FILE_ERROR}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${FILE_LOCATION}/archived/${LOG_FILE_ERROR}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>120</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} [%thread{56}] %-5level	%-36logger{36} -%M - %m%n</pattern>
		</encoder>
	</appender>

	<root level="INFO" additivity="true">
		<appender-ref ref="RollingFile" />
	</root>
	<root level="DEBUG" additivity="true">
		<appender-ref ref="RollingFileDebug" />
	</root>
	<root level="ERROR" additivity="true">
		<appender-ref ref="FileError" />
	</root>

	<springProfile name="local">
		<logger name="com.person" additivity="true" level="INFO" />
		<logger name="com.zaxxer.hikari" additivity="true" level="DEBUG" />
	</springProfile>
	<springProfile name="dev">
		<logger name="com.person" additivity="true"	level="INFO" />
	</springProfile>

</configuration>